app/functions/.venv/*
.vscode/*
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/b74a1df1-ff59-4310-9448-18dbf985e832
__queuestorage__/ed424426-27f7-4d17-b4eb-a36b671fe6ca
app/functions/.funcignore
app/functions/health/__pycache__/__init__.cpython-39.pyc
app/functions/queue-fee/__pycache__/__init__.cpython-39.pyc
app/functions/request-fee/__pycache__/__init__.cpython-39.pyc
